<div class="modal fade" id="modalEstado" tabindex="-1" role="dialog">
					  	<div class="modal-dialog modal-lg">
					    	<div class="modal-content">
					    		<div id="_status"></div> <!-- muestra error -->
						      	<div class="modal-header">
						      		<h4 class="modal-title">¿Estas conectado?</h4>
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						      	</div>
						      	<div class="modal-body">

					      		</div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-default" id="confirmacion" data-dismiss="modal">Si</button>
					      		</div>
					    	</div>
					    </div>
					</div>