					<div class="modal fade" id="modalReporte" tabindex="-1" role="dialog">
					  	<div class="modal-dialog">
					    	<div class="modal-content">
					    		<div id="_status"></div> <!-- muestra error -->
						      	<div class="modal-header">
						      		<h4 class="modal-title">Reporte</h4>
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						      	</div>
						      	<div class="modal-body">
							            <label class="form-control-label">Causa:</label>
							            <input type="text" class="form-control" id="report-name">
							            <br>
							            <label class="form-control-label">Detalle:</label>
							            <textarea class="form-control" id="report-text"></textarea>
					      		</div>
					      		<div class="modal-footer">
					      			<button type="button" class="btn btn-default" data-dismiss="modal" onclick="reporte()">Enviar</button>
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      		</div>
					    	</div>
					    </div>
					</div>