					<div class="modal fade" id="modalResponseReporte" tabindex="-1" role="dialog">
					  	<div class="modal-dialog">
					    	<div class="modal-content">
					    		<div id="_status"></div> <!-- muestra error -->
						      	<div class="modal-header">
						      		<h4 class="modal-title">Reporte enviado</h4>
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						      	</div>
						      	<div class="modal-body">
									El reporte fue enviado satisfactoriamente
					      		</div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      		</div>
					    	</div>
					    </div>
					</div>