.info-zone{
	background:#DFDFDF
}
.foromsj-zone{
	background-image: url("../img/patron.jpg");
	background-size: 410px;
	display: inline-block;
}
.foro-zone{
	width: 100%;
	height: 550px;
	
}
.msj-zone{
	height:50px;
}
.btn-namesala{
	margin-top: 10px;
}
.user-par{
	width: 90px;
	height: 90px;
}
textarea{
	resize: none;
	overflow: auto;
}